In [2]:
print(10 > 9)
print(10 ==9)
print(10 < 9)

True
False
False

In [4]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [6]:
print(bool("Hello"))
print(bool(15))

True
True

In [8]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [10]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [12]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [14]:
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

In [16]:
def myFunction():
    return True 

print(myFunction())

True

In [18]:
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [20]:
x = 200
print(isinstance(x, int))

True

In [22]:
print(10 + 5)

15

In [24]:
# +    Addition x + y
# -    Subtraction x - y
# *    Multiplication x * y
# /    Division x / y
# %    Modulus x % y
# **    Exponentiation x ** y
# //    Floor division x // y

In [26]:
# =    x = 5
# +=    x += 3    x = x + 3
# -=    x -= 3    x = x - 3
# *=    x *= 3    x = x * 3
# /=    x /= 3    x = x / 3
# %=    x %= 3    x = x % 3 
# //=    x //= 3    x = x // 3
# **=    x **= 3    x = x ** 3 
# &=    x &= 3    x = x & 3
# |=    x |= 3    x = x | 3
# ^=    x ^= 3    x = x ^ 3
# >>=    x >>= 3    x = x >> 3
# <<=    x <<= 3    x = x << 3
# :=    print(x := 3)    x = 3
                         #print(x)

In [28]:
# ==    Equal    x == y
# !=    Not equal    x != y
# >    Greater than    x > y
# <    Less than    x < y
# >=    Greater than or equal to    x >= y
# <=    Less than or equal to    x <= y

In [30]:
# and - Returns True if both statements are true    x < 5 and x < 10
# or - Returns True if one of the statements is true    x < 5 or x < 4
# not - Reverse the result, returns False if the result is true    not(x < 5 and x < 10)

In [32]:
# is - Returns True if both variables are the same object    x is y
# is not - Returns True if both variables are not the same object    x is not y

In [34]:
# in - Returns True if a sequence with the specified value is present in the object    x in y
# not in - Returns True if a sequence with the specified value is not present in the object    x not in y

In [36]:
# & (AND) - Sets each bit to 1 if both bits are 1    x & y
# | (OR) - Sets each bit to 1 if one of two bits is 1    x | y
# ^ (XOR) - Sets each bit to 1 if only one of two bits is 1    x ^ y
# ~ (NOT) - Inverts all the bits    ~x
# << (Zero fill left shift) - Shift left by pushing zeros in from the right and let the leftmost bits fall off    x << 2
# >> (Signed right shift) - Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [38]:
print((6 + 3) - (6 + 3))

0

In [40]:
print(100 + 5 * 3)

115

In [42]:
# () - Parentheses 
# ** - Exponentiation
# +x -x ~x - Unary plus, unary minus, and bitwise NOT
# *, /, //, % - Multiplication, division, floor division, and modulus
# + , - -- Addition and subtraction 
# <<, >> - Bitwise left and right shift 
# & - Bitwise AND 
# ^ - Bitwise XOR 
# | - Bitwise OR 
# ==, !=, >, >=, <, <=, is, is not, in, not in -- Comparisons, identity, and membership operators 
# not -- Logical NOT
# and -- AND 
# or -- OR

In [44]:
print(5 + 4 - 7 + 3)

5

In [46]:
mylist = ["apple", "cherry", "banana"]

In [48]:
thislist = ["apple", "cherry", "banana"]
print(thislist)

['apple', 'cherry', 'banana']

In [50]:
thislist = ["apple", "cherry", "banana", "apple", "cherry"]
print(thislist)

['apple', 'cherry', 'banana', 'apple', 'cherry']

In [52]:
thislist = ["apple", "cherry", "banana"]
print(len(thislist))

3

In [56]:
list1 = ["apple", "cherry", "banana"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [58]:
list1 = ["abc", 34, True, 40, "male"]

In [60]:
mylist = ["apple", "cherry", "banana"]
print(type(mylist))

<class 'list'>

In [62]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets 
print(thislist)

['apple', 'banana', 'cherry']

In [64]:
# list - is a collection which is ordered and changeable. Allows duplicate members.
# Tuple - is a collection which is ordered and unchangeable. Allows duplicate members.
# Set - is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
# Dictionary - is a collection which is ordered and changeable. No duplicate members.

In [66]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [70]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [76]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [78]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist[1] =  "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [82]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [84]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [86]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [90]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [94]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [96]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple) 
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [100]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [102]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [104]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [106]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [110]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [112]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [114]:
thislist = ["apple", "banana", "cherry"]
for i in thislist:
    print(i)

apple
banana
cherry

In [116]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [118]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i += 1

apple
banana
cherry

In [120]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [122]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [124]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [126]:
# newlist = [ expression for item in iterable if condition == True ]

In [128]:
newlist = [x for x in fruits if x != "apple"]

In [130]:
newlist = [x for x in fruits]

In [132]:
newlist = [x for x in range(10)]

In [134]:
newlist = [x for x in range(10) if x < 5]

In [136]:
newlist = [x.upper() for x in fruits]

In [138]:
newlist = ['hello' for x in fruits]

In [140]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [142]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [144]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [146]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [148]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [150]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [152]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [154]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [156]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [158]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [160]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [162]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [164]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2 
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [166]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [168]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [170]:
# append() -- Adds an element at the end of the list.
# clear() -- Removes all the elements from the list.
# copy() -- Returns a copy of the list.
# count() -- Returns the number of elements with the specified value.
# extend() -- Add the elements of a list(or any iterable), to the end of the current list.
# index() -- Returns the index of the first element with the specified value.
# insert() -- Adds an element at the specified position.
# pop() -- Removes the element at the specified position.
# remove() -- Removes the item with the specified value.
# reverse() -- Reverses the order of the list.
# sort() -- Sorts the list.

In [172]:
mytuple = ("apple", "banana", "cherry")

In [174]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [176]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [178]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [180]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [182]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [184]:
tuple1 = ("abc", 34, True, 40, "male")

In [186]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [188]:
thistuple = tuple(("apple", "banana", "cherry")) #note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [190]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [192]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [194]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [196]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [198]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [200]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [202]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruit tuple")

Yes, 'apple' is in the fruit tuple

In [204]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [206]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [208]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [210]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [212]:
thistuple = ("apple", "banana", "cherry")
del thistuple 
print(thistuple) # this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [214]:
fruits = ("apple", "banana", "cherry")

In [216]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits 

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [218]:
fruits = ("apple", "banana", "cherry", "strawberry", "respberry")

(green, yellow, *red) = fruits 

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'respberry']

In [220]:
fruits = ("apple", "mango", "papaya", "pineapple","cherry")

(green, *tropic, red) = fruits 

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [222]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [224]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [226]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [228]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [230]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [232]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [234]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [236]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [238]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [240]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [242]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [244]:
set1 = {"abc", 34, True, 40, "male"}

In [246]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [248]:
thisset = set(("apple", "banana", "cherry")) 

print(thisset)

{'cherry', 'apple', 'banana'}

In [250]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [252]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [254]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [256]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [258]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'banana', 'papaya', 'cherry', 'mango'}

In [260]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'kiwi', 'orange', 'cherry'}

In [262]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [264]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [266]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [268]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [270]:
thisset = {"apple", "banana", "cherry"}

del thisset 

print(thisset)

NameError: name 'thisset' is not defined

In [272]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [274]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [286]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [278]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'a', 'bananas', 'c', 'b', 'cherry', 'Elena'}

In [280]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'a', 'bananas', 'c', 'b', 'cherry', 'Elena'}

In [284]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [288]:
"""The  | operator only allows you to join sets with sets, 
and not with other data types like you can with the  union() method.
"""

'The  | operator only allows you to join sets with sets, \nand not with other data types like you can with the  union() method.\n'

In [292]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'b', 'a'}

In [294]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [296]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [298]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [300]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [302]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [304]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [306]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [308]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [310]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [312]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'banana', 'microsoft', 'cherry'}

In [314]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

In [316]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [318]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
print(thisdict["brand"])

Ford

In [320]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [322]:
print(len(thisdict))

3

In [324]:
thisdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}

In [326]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
print(type(thisdict))

<class 'dict'>

In [328]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [330]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
x = thisdict["model"]

In [332]:
x = thisdict.get("model")

In [334]:
x = thisdict.keys()

In [336]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [338]:
x = thisdict.values()

In [340]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [342]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [344]:
x = thisdict.items()

In [346]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [348]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [350]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [354]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [356]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.update({"year": 2020})

In [358]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [360]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [362]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [364]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [366]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [368]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [370]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [372]:
for x in thisdict:
  print(x)

In [374]:
for x in thisdict:
  print(thisdict[x])

In [376]:
for x in thisdict.values():
  print(x)

In [378]:
for x in thisdict.keys():
  print(x)

In [380]:
for x, y in thisdict.items():
  print(x, y)

In [382]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [384]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [386]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [388]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [390]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child2"]["name"])

Tobias

In [392]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [394]:
a = 33
b = 200
if b > a:
    print('b is greater than a')

b is greater than a

In [396]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

In [398]:
a = 33
b = 33
if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')

a and b are equal

In [400]:
a = 200
b = 33 
if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')
else:
    print('a is greater than b')

a is greater than b

In [402]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [404]:
if a > b: print("a is greater than b")

a is greater than b

In [406]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [408]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [410]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [412]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [414]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [416]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [418]:
a = 33
b = 200

if b > a:
    pass

In [420]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [422]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [424]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [426]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [428]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [430]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [432]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [434]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [436]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [438]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [440]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [442]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [444]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [446]:
for x in range(6):
    if x == 3: break
    print(x) 
else:
    print("Finally finished!")

0
1
2

In [448]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [450]:
for x in [0, 1, 2]:
    pass