In [2]:
#Example 1 
print("Hello, World!")

Hello, World!

In [4]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [6]:
#Example 2
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [8]:
#Example 2(Wrong)
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 2 (763233710.py, line 3)

In [10]:
#Example 3
x = 5
y = "Hello, World!"

In [12]:
#Example 4 
#This is a comment.
print("Hello, World!")

Hello, World!

In [14]:
print("Hello, World!") #this is a comment.

Hello, World!

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [18]:
#This is a comment
#written in
#more than just ine line 
print("Hello, World!")

Hello, World!

In [20]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [22]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [24]:
x = 4    # x is of type int 
x = "Sally"    # x is now of type str 
print(x)

Sally

In [30]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)    # z wil be 3.0

In [28]:
x = 5 
y = 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [32]:
x = "John"
# is the same as 
x = 'John'

In [34]:
a = 4
A = "Sally"
# A will not overwrite a

In [36]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [38]:
#Wrong
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (796637756.py, line 2)

In [40]:
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

In [42]:
x, y, z = "Apple" , "Banana", "Cherry"
print(x)
print(y)
print(z)

Apple
Banana
Cherry

In [44]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [46]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits 
print(x)
print(y)
print(z)

apple
banana
cherry

In [48]:
x = "Python is awesome"
print(x)

Python is awesome

In [50]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [52]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [54]:
x = 5 
y = 10 
print(x + y)

15

In [56]:
#wrong
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
x = 5
y = "John"
print(x, y)

5 John

In [60]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [62]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Pythin is " + x)

Python is fantastic
Pythin is awesome

In [64]:
def myfunc():
    global x 
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [66]:
x = "awesome"

def myfunc():
    global x 
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [68]:
x = 5 
print(type(x))

<class 'int'>

In [70]:
x = "Hello, World" #str
x = 20 #int 
x = 20.5 #float 
x = 1j #complex
x = ["apple" , "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple 
x = range(6) #range
x ={"name" : "John", "age" : 36} #dict  
x = {"apple", "banana", "cherry"} #set 
x = frozenset({"apple", "banana", "cherry"}) #frozenset 
x = True #bool
x = b"Hello" #bytes 
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

In [72]:
x = 1    # int 
y = 2.8    # float 
z = 1j    # complex 

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [74]:
x = 1 
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [76]:
x = 1.10 
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [78]:
x = 35e3 
y = 12E4
x = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [80]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [82]:
x = 1    # int 
y = 2.8    # float 
z = 1j    # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [84]:
import random

print(random.randrange(1, 10))

3

In [86]:
x = int(1)    # x will be 1
y = int(2.8)    # y will be 2
z = int("3")    # z will be 3

In [88]:
x = float(1)    # x will be 1.0
y = float(2.8)    # y will be 2.8
z = float("3")    # z will be 3.0
w = float("4.2")    # w will be 4.2

In [90]:
x = str("s1") # x will be 's1'
y = str(2) # y will be '2'
z = str(3.0) # z will be '3.0'

In [92]:
print("Hello")
print('Hello')

Hello
Hello

In [94]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [96]:
a = "Hello"
print(a)

Hello

In [98]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [100]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [102]:
a = "Hello, World!"
print(a[1])

e

In [108]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [110]:
a = "Hello, World!"
print(len(a))

13

In [112]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [114]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [116]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [118]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [120]:
b = "Hello, World!"
print(b[2:5])

llo

In [122]:
b = "Hello, World!"
print(b[:5])

Hello

In [124]:
b = "Hello, Wolrd!"
print(b[2:])

llo, Wolrd!

In [126]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [128]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [130]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [134]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [136]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [138]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', 'World!']

['Hello', ' World!']

In [140]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [142]:
a = "Hello"
b = "World"
c = a + " " + b 
print(c)

Hello World

In [144]:
#wrong 
age = 36
txt = "My name is John, I am " + age 
print(txt)

TypeError: can only concatenate str (not "int") to str

In [146]:
age = 36 
txt = f"My name is Jonh, I am {age}"
print(txt)

My name is Jonh, I am 36

In [148]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [150]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [152]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [154]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [156]:
txt = "We are the so-called \"Vikings\" from the north."